<p class="fields">
  <%= form.label :number, "Phone number" %>
  <%= form.text_field :number %>
  <%= link_to_remove_fields "remove", form %>
  <%= link_to "remove", "javascript:void(0)", onclick: 'remove_fields(this)' %>
</p>
